@import'../../../assets/scss/settings.scss';
.Modal {
    width: 100%;
    max-width: 300px;
    height: auto;
    background-color: whitesmoke;
     z-index: 1000010;
    position: fixed;
   overflow: hidden;
      border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100vh);
    box-shadow: 2px 2px 2px rgb(66, 66, 66);
    transition: 0.5s all;
}
.modalEnabled {
    display: block;
    transform: translate(-50%, -50%);
}
